.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color:rgb(88, 85, 85);
  background-image: url("./home.jpg");
  background-size: cover;
  background-position-y: 60%;
}

.App-intro {
  font-size: large;
}

.App {
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  max-height: 50px;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.navlink {
  margin-top: -5%;
  margin-left: 0.3%;
  color: white;
  font-size: 0.9em;
  list-style-type: none;
  display: inline-block;
}

.link {
  padding: 10px 15px;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.80);
}

.link, .link:visited {
  text-decoration: none;
  color: black;
}

.link:hover {
  background-color: skyblue;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
