.itemcontainer {
    width: 85%;
    float: right;
    padding-bottom: 30px;
    margin-right: -5%;
}

.shoppingcart {
    position: absolute;
    left: 95%;
    top: 5%;
    width: 30px;
    height: 30px; 
    cursor: pointer; 
}

.checkoutmodal {
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    overflow-y: scroll;
}

.itemamount {
    position: absolute;
    padding: 1px 3px;
    left: 97.1%;
    top: 3.9%;
    background-color: rgb(80, 79, 79);
    color: white;
}

.categories {
    width: 18%;
    margin-left: 1%;
    float: left;
    padding: 1% 0;
}

.filterbutton {
    width: 95%;
    margin: 2% auto;
    padding: 9px 0;
    display: inline-block;
    background-color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    outline: none;
}

.filterbutton:hover{
    text-decoration: underline;
}