.itemcontainer {
    width: 85%;
    float: right;
    padding-bottom: 30px;
}

.shoppingcart {
    position: absolute;
    left: 95%;
    top: 5%;
    width: 30px;
    height: 30px; 
    cursor: pointer; 
}

.itemamount {
    position: absolute;
    padding: 1px;
    left: 97.1%;
    top: 3.9%;
    background-color: black;
    color: white;
}

.modalspace {
    width: 50%;
    height: 70%;
    margin: 10% auto;
    overflow-x: auto;
    overflow-y: auto;
    background-color: white;
    padding: 10px;
    z-index: 1;
}